@import "./variables.scss";
body {
	h1 {
		color: $jolie_couleur;
		color1: $corporate_color_1;
		color2: $corporate_color_2;
	}
}


body {
	h1 {
		iduser: $iduser;
	}
}

body {
	h2 {
		userpass: $password;
	}
}